@narduk-enterprises:registry=https://code.platform.nard.uk/api/packages/narduk-enterprises/npm/
//code.platform.nard.uk/api/packages/narduk-enterprises/npm/:_authToken=${FORGEJO_TOKEN}

public-hoist-pattern[]=*

strict-peer-dependencies=false
